*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .container{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(230, 185, 73);
    
}

header .container img{
    height: 160px;
    margin-left: 100px;

}

header .container h1{
    display: flex;
    align-items: center;
    float: left;
    color: crimson;
    font-size: 64px;
}

header h1,
section h2,
section h3{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

header nav li{
    display: block;
    justify-content: right;
    margin-right: 16px;
}
header nav a{
    color: crimson;
    text-decoration: none;
    font-size: 20px;
}

header nav a:hover{
    text-decoration: underline;
}

body{
    background-image: url(Fotos/Breath\ of\ the\ wild.jpg);
    background-size: cover;
    background-position: center;
}

#dados,
#texto,
#newsletter .container
 {
    background-color: rgba(250, 235, 215, 0.377);
    margin-left: 8px;
}

#galeria .container{
    display: block;
    justify-content: center;
}

#newletter .container{
    margin-left: auto;
}

footer {
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 8px;
}

.pokedex {
    height: 600px;
}

.gravata {
    height: 500px;
    margin-left: 12px;
}

section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section h2{
    margin-bottom: 16px;
    margin-left: 16px;
}

section p{
    margin-bottom: 8px;
    margin-left: 16px;
    font-size: 20px;
}

section{
    padding: 24px;
}

#newsletter .container{
    display: block;
}

form input,
textarea,
button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}   

.contact-methods{
    display: flex;
    justify-content: space-around;
}

.contact-methods img{
    height: 300px;
}

section h3{
    margin-bottom: 16px;
}

.galeria{
    display: inline-block;
}

.galeria img{
    height: 250px;
    width: auto;
    
}
.imagens {
    column-count: 2; 
}

.imagens p {
    text-align: left;
    justify-content: space-between;
    margin-left: 0;
    background-color: rgba(240, 248, 255, 0.425);
}

